<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Sentiment Analysis</title>
    <style>
    div {text-align: center;}
    </style>
</head>
<body bgcolor="turquoise">
<div>
<form action="/perform_sentiment_analysis" method="post">
    <h1 style="color:green">Want to perform sentiment analysis?</h1>
        <label>Enter Your Text Here</label><br>
        <input type="text" name="txt"><br><br>
        <input type="Submit" value="Analyse Sentiment">
    </form>
</div>
</body>
</html>